<accordion [isAnimated]="true">

    <h3 class="border-bottom text-center title-book mt-5">Inteligência Emocional</h3>
    <accordion-group  heading="Amanhecer Esmeralda" [isOpen]="true" >
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte I [págs. 6 a 21]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte II [págs. 22, 23 e 24]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte III [págs. 33 e 34]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte IV [págs. 22, 25, 27 e 43]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
        
    </accordion-group>

    <accordion-group  heading="As Perguntas de Luísa">
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte I [págs. 1 a 16]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte II [págs. 17 a 35]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte III [págs. 36 a 47]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte IV [págs. 48 a 52]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
        
    </accordion-group>

    <accordion-group  heading="Comunicação Não Violenta">
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte I [cap. 1 e 2]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte II [cap. 3 ao 5]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte III [cap. 6 ao 8]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte IV [cap. 9 ao 13]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
        
    </accordion-group>

    <button type="button" class="btn btn-primary mt-5 mb-4 ml-5"><i class="bi bi-arrow-left-short"></i>Voltar</button>
</accordion>

