<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GaleraCult</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
            </ul>
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
                    Matérias <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Biologia</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Ciências</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Empreendedorismo</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Geografia</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">História</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Inteligência Emocional</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Leitura e Prod. Textual</a></li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Pesquisar por conteúdo" aria-label="Search">
                <button class="btn btn-outline-success search_nav" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>



<accordion [isAnimated]="true">


    <accordion-group  heading="Leitura e Prod. Textual" [isOpen]="true" >
        <h3 class="border-bottom text-center title-book">O Diário de Anne Frank</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/diario-anne-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diário e Autoconhecimento – Parte I [págs. 1 a 118]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/diario-anne-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diário e Autoconhecimento – Parte II [págs. 119 a 177]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/diario-anne-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diário e Autoconhecimento – Parte III [págs. 178 a 265]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/diario-anne-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diário e Autoconhecimento – Parte IV [págs. 266 a 302]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>

    <accordion-group heading="Inteligência Emocional">
        <h3 class="border-bottom text-center title-book">Comunicação Não Violenta</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte I [cap. 1 e 2]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte II [cap. 3 ao 5]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte III [cap. 6 ao 8]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/comunicacao-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Comunicação Não Violenta – Parte IV [cap. 9 ao 13]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>


        <h3 class="border-bottom text-center title-book">Amanhecer Esmeralda</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte I [págs. 6 a 21]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte II [págs. 22, 23 e 24]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte III [págs. 33 e 34]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/amanhecer-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Diversidade Cultural – Parte IV [págs. 22, 25, 27 e 43]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>


        <h3 class="border-bottom text-center title-book">As Perguntas de Luísa</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte I [págs. 1 a 16]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte II [págs. 17 a 35]
                    </h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte III [págs. 36 a 47]
                    </h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luisa-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ética: o que é desigualdade social e injustiça – Parte IV [págs. 48 a 52]
                    </h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>


    </accordion-group>

    <accordion-group heading="Empreendedorismo">
        <h3 class="border-bottom text-center title-book">Santos-Dummont</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/santos-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Grandes Inventores – Parte I [págs. 1 a 10]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/santos-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Grandes Inventores – Parte II [págs. 11 a 15]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/santos-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Grandes Inventores – Parte III [págs. 16 a 20]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/santos-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Grandes Inventores – Parte IV [págs. 21 a 25]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>

    <accordion-group heading="Ciências">
        <h3 class="border-bottom text-center title-book">Luke, o Macaco Atleta / Como o Mundo Acorda</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luke-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Alimentação saudável – Parte I [págs. 1 a 15]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luke-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Alimentação saudável – Parte II [págs. 1 a 36]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luke-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Alimentação saudável – Parte III [págs. 16 e 17]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/luke-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Alimentação saudável – Parte IV [págs. 18 a 32]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>

    <accordion-group heading="Geografia">
        <h3 class="border-bottom text-center title-book">De onde vêm os nomes dos planetas</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/beto-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Sistema Solar e Mitologia – Parte I [págs. 1 a 12]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/beto-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Sistema Solar e Mitologia – Parte II [págs. 13 a 19]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/beto-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Sistema Solar e Mitologia – Parte III [págs. 20 a 25]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/beto-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Sistema Solar e Mitologia – Parte IV [págs: 26 a 32]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>

        <h3 class="border-bottom text-center title-book">A Googlelização de Tudo</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/aninha-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Como o Google está moldando o mundo – Parte I [págs. 94 a 147]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/aninha-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Como o Google está moldando o mundo – Parte II [págs. 148 a 198]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/aninha-´part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Como o Google está moldando o mundo – Parte III [págs. 199 a 257]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/aninha-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Como o Google está moldando o mundo – Parte IV [págs. 258 a 347]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>


    <accordion-group heading="Biologia">
        <h3 class="border-bottom text-center title-book">Primavera Silenciosa</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/paulinha-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Tecnologias e Responsabilidade Socioambiental – Parte I [págs. 1 a 28]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/paulinho-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Tecnologias e Responsabilidade Socioambiental – Parte II [cap. 3, 12 e 13]
                    </h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/paulinho-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Tecnologias e Responsabilidade Socioambiental – Parte III [cap. 7, 8, 9 e 17]
                    </h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/paulinho-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Tecnologias e Responsabilidade Socioambiental – Parte IV [cap. 15 e 16]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>

    <accordion-group heading="Sociologia">
        <h3 class="border-bottom text-center title-book">De Dentro Para Fora</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/teko-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Capitalismo Consciente – Parte I [cap. 1 ao 4]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/teko-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Capitalismo Consciente – Parte II [cap. 5 ao 13]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/teko-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Capitalismo Consciente – Parte III [cap. 14 ao 21]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/teko-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Capitalismo Consciente – Parte IV [cap. 22 ao 25]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>

    <accordion-group heading="História">
        <h3 class="border-bottom text-center title-book">A Vida no Antigo Egito</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/titta-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ciência na Antiguidade – Parte I [cap. 4]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/titta-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ciência na Antiguidade – Parte II [cap. 5]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/titta-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ciência na Antiguidade – Parte III [cap. 6]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/titta-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ciência na Antiguidade – Parte IV [cap. 8]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>

        <h3 class="border-bottom text-center title-book">A Revolução dos Bichos</h3>
        <section class="container d-flex flex-wrap">

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/maxi-part1.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Conhecendo a Sociedade pelos Animais – Parte I [págs. 4 a 15]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/maxi-part2.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Conhecendo a Sociedade pelos Animais – Parte II [págs. 18 a 30]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/maxi-part3.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Conhecendo a Sociedade pelos Animais – Parte III [págs. 107 a 128]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/image-documentos/maxi-part4.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Conhecendo a Sociedade pelos Animais – Parte IV [págs. 153 a 164]</h5>
                    <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                        fazer preencher o
                        conteúdo
                        do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </section>
    </accordion-group>


    <button type="button" class="btn btn-primary mt-5 mb-4 ml-5"><i class="bi bi-arrow-left-short"></i>Voltar</button>


</accordion>

