<main class="main">
    <section class="section__first">
        <figure>
            <img class="section__image" src="../../../assets/images/boy-study.jpg" alt="menino estudando">
        </figure>
        <figcaption>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores, maxime odit quisquam dicta
                dolores praesentium.</p>
        </figcaption>
    </section>
    <section class="section__second">
        <h2 class="section__second--title">Lorem ipsum dolor sit.</h2>
        <p class="section__second--subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores,
            maxime odit quisquam dicta
            dolores praesentium.</p>
        <div class="video-container video__controller" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IWiB6t3vCKE" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </section>
    <section section__third></section>
</main>