@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');

main {
    font-family: 'Open Sans',sans-serif;
    margin-top: 10px;
    width: 100%;

}
section {
 display: flex;
 flex-direction: column;
 align-items: center;
}


/* section figcaption {
    margin-top: 10px;
} */

/* .section__image {
    width: 100%;
} */

/* 
figcaption p {
    font-size: 1em;
} */

.section__first {
    /* background-color: #aeaaab; */
    width: 100%;
    background-image: url(../../../assets/images/boy-study.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 33rem;
    position: relative;
    justify-content: space-between;
}

.section__first--title {
    padding: 3rem 0;
    margin-left: 1rem;
}

.section__first--title h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    padding: .2rem;
    color: white;
    background-color: #22478d;
    display: inline-block;
    border-radius: 5px;
}

.section__first--title p {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: .2rem;
    color: white;
    background-color: #22478d;
    display: inline-block;
    border-radius: 5px;
}


.section__first-text {
    color:white;
    font-size: 1rem;
    padding: 1.5rem 0;
    font-weight: 900;
    line-height: 1.5em;
    z-index: 99999999;
    margin-left: 1rem;
}



/* 
.section__first figcaption h1 {
    font-weight: 700;
    font-size: 24px;
} */

/* .section__second {
    
} */

.section__second {
    background-color: #375670;
    color: white;
}
.section__second--title h2 {
    padding-top: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1.85rem;
    font-size: 1.5rem;
    font-weight: 800;
    border-top: 1px solid;
}

.section__second--text {
    margin-top: 1rem;  
    font-size: 1.1rem; 
    font-weight: 700;
    margin-left: 1rem;
}

.section__second img{
    width: 100%;
}

.section__third {

}
.section__third--title  p{

    color: #375670;
    padding-top: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1.85rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.categories__item--image {
    background-size: cover;
    width: 100vw;
    height: 12rem;
}

.categories__item--text {
    display: grid;
    min-height: 50px;
    margin: 0 1.5rem;
    padding: 0 .8rem;
    border: solid 1px #141414;
    border-left: solid 5px #375670;
    transform: translateY(-30%);
    background-color: white;
}