<main class="main">
    <section class="section__first">
        <!-- <figure>
            <img class="section__image" src="../../../assets/images/boy-study.jpg" alt="menino estudando">
        </figure>
        <figcaption>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores, maxime odit quisquam dicta
                dolores praesentium.</p>
        </figcaption> -->
        <div class="section__first--title">
            <h2>Seja Bem-Vindo</h2>
            <p>Galera Cult</p>
        </div>
        <p class="section__first-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores,
            maxime odit quisquam dicta
            dolores praesentium.</p>
    </section>

    <section class="section__second">
        <div class="section__second--title">
            <h2>Lorem ipsum dolor sit.</h2>
        </div>
        <p class="section__second--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores,
            maxime odit quisquam dicta
            dolores praesentium.</p>
        <img src="../../../assets/images/garoto-tablet.jpg" alt="">

    </section>
    <section class="section__third">
        <div class="section__third--title">
            <p>Materias da plataforma</p>
        </div>
        <div class="categories">
            <div class="categories__item--image" style="background-image: url(../../../assets/images/producao__textual.jpg);"></div>
            <div class="categories__item--text">
                <p>Leitura e Prod. Textual</p>
            </div>
            <div class="categories__item--image" style="background-image: url(../../../assets/images/intelgencia-emocional.jpg)"></div>
            <div class="categories__item--text">
                <p>Inligência Emocional</p>
            </div>
            <div class="categories__item--image" style="background-image: url(../../../assets/images/kids_study.jpg)"></div>
            <div class="categories__item--text">
                <p>Empreendedorismo</p>
            </div>
            <div class="categories__item--image" style="background-image: url(../../../assets/images/kids_science.jpg)"></div>
            <div class="categories__item--text">
                <p>Ciência</p>
            </div>
            <div class="categories__item--image" style="background-image: url(../../../assets/images/kids_geografia.jpg)"></div>
            <div class="categories__item--text">
                <p>Geografia</p>
            </div>
            <div class="categories__item--image" style="background-image: url(../../../assets/images/kids_history.jpg)"></div>
            <div class="categories__item--text">
                <p>Historia</p>
            </div>

        </div>
    </section>
</main>