<main>
    <carousel>
        <div class="carousel-slide">
            <slide>
                <img src="../../../assets/images/boy-study.jpg" alt="first slide" class="carousel-imagem"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block h-50">
                    <h1 class="display-4">First slide label</h1>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img src="../../../assets/images/garoto-tablet.jpg" alt="second slide" class="carousel-imagem second-img"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block h-50">
                    <h1 class="display-4">Second slide label</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
        </div>
    </carousel>
    <section class="mb-5">
        <div class="d-flex flex-column align-items-center mt-5 mb-4">
            <p class="title-default border-top border-secundary">O que você irá encontrar</p>
            <p class="subtitle-cards text-secondary">Disponivel em nossa plataforma</p>
        </div>
        <div class="container-fluid cards">
            <div class="row justify-content-center">
                <div class="card mr-4 mb-4 col-12 col-md-3">
                    <img class="card-img-top" src="../../../assets/images/intelgencia-emocional.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-title">Inteligência emocional</p>
                        <p class="card-text border-top border-secundary pt-3 text-secondary">Um exemplo de texto rápido
                            para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
                <div class="card mr-4 mb-4 col-12 col-md-3">
                    <img class="card-img-top" src="../../../assets/images/kids_geografia.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-title">Geografia</p>
                        <p class="card-text border-top border-secundary text-secondary pt-3">Um exemplo de texto rápido
                            para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
                <div class="card mr-4 mb-4 col-12 col-md-3">
                    <img class="card-img-top" src="../../../assets/images/kids_science.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-title">Ciências</p>
                        <p class="card-text border-top border-secundary text-secondary pt-3">Um exemplo de texto rápido
                            para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
                <div class="card mr-4 mb-4 col-12 col-md-3">
                    <img class="card-img-top" src="../../../assets/images/producao__textual.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-title">Produção Textual</p>
                        <p class="card-text border-top border-secundary text-secondary pt-3">Um exemplo de texto rápido
                            para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
                <div class="card mr-4 mb-4 col-12 col-md-3">
                    <img class="card-img-top" src="../../../assets/images/kids_study.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-title">Empreendedorismo</p>
                        <p class="card-text border-top border-secundary text-secondary pt-3">Um exemplo de texto rápido
                            para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
                <div class="card mr-4 mb-4 col-12 col-md-3">
                    <img class="card-img-top" src="../../../assets/images/menina-tablet.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-title">Sociologia</p>
                        <p class="card-text border-top border-secundary text-secondary pt-3">Um exemplo de texto rápido
                            para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d-flex info pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class=" col-12 col-md-6 mb-4">
                    <h3 class="title-default title-info">Title</h3>
                    <p class="text-informacao pt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum
                        dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="col-12 col-md-6">
                    <ul>
                        <li class="d-flex flex-row mb-4">
                            <span class="dot">1</span>
                            <span class="text-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                                aliquid vero quos a, aliquam cupiditate corrupti maxime laboriosam magni, voluptate sed,
                                delectus et quo temporibus optio consectetur eveniet vitae fugiat?</span>
                        </li>
                        <li class="d-flex flex-row mb-4">
                            <span class="dot">2</span>
                            <span class="text-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi
                                sapiente ducimus nihil corporis amet praesentium velit sunt sit nisi consequatur, enim
                                voluptatum dolorem repellat quas mollitia suscipit architecto ipsa!</span>
                        </li>
                        <li class="d-flex flex-row mb-5">
                            <span class="dot">3</span>
                            <span class="text-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                                eveniet, inventore consequuntur pariatur possimus eum molestiae nobis magnam magni
                                labore aliquid nisi, officia velit! Accusantium ducimus neque eligendi ad
                                officiis.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <section class=" d-flex footer pt-5">
        <div class="container">
            <div class="row ">
                
                <div class="other-plataformsmr-5 mb-5 row">
                    <!-- <img src="../../../assets/images/logo-irium.webp" alt="" srcset=""> -->
                    <ul class="row  social-media-list">
                        <li><img src="../../../assets/images/logo-irium.webp" alt="" srcset="" class="mr-3"></li>
                        <li class="mr-3"><i class="bi bi-facebook" style="font-size: 2rem; color: #974b9d;"></i></li>
                        <li class="mr-3"><i class="bi bi-instagram" style="font-size: 2rem; color: #974b9d;"></i></li>
                        <li class="mr-3"><i class="bi bi-linkedin" style="font-size: 2rem; color: #974b9d;"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>