<!-- <div class="login-btn">
        <a href="#" class="button" data-toggle="modal" data-target="#login-modal">Login</a>
    </div> -->

<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Login - Galera Cult</h1><br>
        <form>
            <input type="text" name="user" placeholder="Usuário">
            <input type="password" name="pass" placeholder="Senha">
            <input type="submit" name="login" class="login loginmodal-submit" value="Entrar">
            <span class="mr-4 text-login text-primary">Esqueci como entrar</span>
            <span class="text-login text-primary">Primeiro Acesso?</span>
        </form>
        <div class="">
            <button type="button" class="btn btn-outline-secondary btn-block mr-2 mt-3"><img
                    src="../../../assets/images/google.svg" class="button-icons mr-1"> Google</button>
            <button type="button" class="btn btn-outline-secondary  btn-block mt-3"><img src="../../../assets/images/microsoft.svg"
                    class="button-icons mr-1">Microsoft</button>

        </div>

        <!-- <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
        </div> -->
    </div>
</div>