<div class="container">

    <div class="container box-title mt-5 pb-4 pt-4">
        <h2>Questões Pos-Leitura</h2>
    </div>

    <div class="container mt-3 pb-4 pt-4 border-forms">
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="title-forms">Qual a sua resposta?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua resposta aqui..."></textarea>
        </div>
    </div>

    <div class="container mt-3 pb-4 pt-4 border-forms">
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="title-forms">Qual a sua resposta?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua resposta aqui..."></textarea>
        </div>
    </div>

    <div class="container mt-3 pb-4 pt-4 border-forms">
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="title-forms">Qual a sua resposta?</label>
            <textarea class="form-control text-secondary" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua resposta aqui..."></textarea>
        </div>
    </div>

    <div class="container mt-3 pb-4 pt-4 mb-4 border-forms">
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="title-forms">Qual a sua resposta?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua resposta aqui..."></textarea>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg">Gravar sua resposta</button>

</div>