<section class="container d-flex flex-wrap mt-5">

    <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Leitura e Prod.Textual</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Inteligência Emocional</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Empreendedorismo</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Ciências</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3 mt-4" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Geografia</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3 mt-4" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Biologia</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3 mt-4" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Sociologia</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>

    <div class="card col-12 col-md-3 mb-3 mt-4" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/imagem-cards.svg"
            alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">História</h5>
            <p class="card-text text-secondary">Um exemplo de texto rápido para construir o título do card e
                fazer preencher o
                conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-5 mb-4"><i class="bi bi-arrow-left-short"></i>Voltar</button>
</section>